@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-sans: Inter, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    color: #e7e7e7;
    font-family: var(--font-sans);
    margin: 0;
}

body {
	margin: 0;
	padding: 0;
	margin-left: 64px;
	min-height: 100%;
	display: flow-root;
    overflow-x: hidden;
}


* {
    margin: 0;
    filter: brightness(1) saturate(1);

}

#app {
    width: 100%;
    height: 100%;
}

#home-btn {
    position: absolute;
    right: 15px;
    text-decoration: none;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 32px;
    background-color: lightblue;
    color: black;
}

#username {
    margin-top: 32px;
    font-size: x-large;
}